pipelines:
  generate:
    defaults:
      width: 1024
      height: 1024
      orientation: landscape
      quality: high
    stages:
      - name: brainstorm
        output: text
        prompt: prompts/example/gen_meta.md
      - name: render
        output: image
        prompt: prompts/example/gen_image.md

  remix:
    defaults:
      width: 1024
      height: 1024
      quality: low
    stages:
      - name: stylize
        output: image
        prompt: prompts/example/stylize.md
        image_input: _source

  tag:
    defaults:
      max_tags: 10
    stages:
      - name: descriptor
        output: text
        prompt: prompts/example/descriptor.md
        image_input: _source
      - name: tagger
        output: text
        prompt: prompts/example/tagger.md
